<div class="background1" id="mostrarBotones">
    <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-success" (click)="Horarios()"><h4>Horarios</h4></button>
        <button type="button" class="btn btn-warning" (click)="Turnos()"><h4>Turnos</h4></button>
        <button type="button" class="btn btn-primary" (click)="Atender()"><h4>Atender Turno</h4></button>
    </div>
    <div>
        <button id="btnVolver" type="button" class="btn-dark" (click)="Volver()">VOLVER</button>
    </div>
</div>
<div class="background2" id="mostrarHorarios">
    <div class="Text">
        <h1>SELECCIONE SUS DIAS LABORALES</h1>
    </div>
    <div class="custom-control custom-checkbox custom-control-inline">
        <input type="checkbox" id="opcionL" name="customRadioInline1" class="custom-control-input" checked>
        <label class="custom-control-label" for="customRadioInline1">L</label>
    </div>
    <div class="custom-control custom-checkbox custom-control-inline">
        <input type="checkbox" id="opcionM" name="customRadioInline1" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline2">M</label>
    </div>
    <div class="custom-control custom-checkbox custom-control-inline">
        <input type="checkbox" id="opcionX" name="customRadioInline1" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline3">X</label>
    </div>
    <div class="custom-control custom-checkbox custom-control-inline">
        <input type="checkbox" id="opcionJ" name="customRadioInline1" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline4">J</label>
    </div>
    <div class="custom-control custom-checkbox custom-control-inline">
        <input type="checkbox" id="opcionV" name="customRadioInline1" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline5">V</label>
    </div>
    <div class="custom-control custom-checkbox custom-control-inline">
        <input type="checkbox" id="opcionS" name="customRadioInline1" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline6">S</label>
    </div>
    <div class="horario">
        <h1>SELECCIONE SUS HORARIOS LABORALES</h1>
    </div>
    <div class="input-time">
        <table>
            <tr>
                <th><p>DESDE:</p></th>
                <th><input type="time" id="hora" value="08:00" name="horario" class="tiempo"></th>
                <th><p>HASTA:</p></th>
                <th><input type="time" id="hora" value="17:00" name="horario" class="tiempo"></th>
            </tr>
        </table>
    </div>
    <div class="intervalos">
        <h2>INTERVALOS ENTRE TURNOS</h2>
        <input type="number" id="hora" value="10" max="60" name="horario" class="tiempo">
    </div>
    <div>
        <table>
            <tr>
                <th><button type="button" class="btn-dark" (click)="Guardar()">GUARDAR</button></th>
                <th><button type="button" class="btn-dark" (click)="Volver()">VOLVER</button></th>
            </tr>
        </table>
    </div>
</div>
<div class="background3" id="mostrarTurnos">
    <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-success" (click)="Horarios()"><h4>123123</h4></button>
        <button type="button" class="btn btn-warning" (click)="Turnos()"><h4>123132</h4></button>
        <button type="button" class="btn btn-primary" (click)="Atender()"><h4>12312313 Turno</h4></button>
    </div>
    <div>
        <button type="button" class="btn-dark" (click)="Volver()">VOLVER</button>
    </div>
</div>
<div class="background4" id="mostrarAtencion">
    <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-success" (click)="Horarios()"><h4>123123</h4></button>
        <button type="button" class="btn btn-warning" (click)="Turnos()"><h4>asdasd</h4></button>
        <button type="button" class="btn btn-primary" (click)="Atender()"><h4>asd5a6s</h4></button>
    </div>
    <div>
        <button type="button" class="btn-dark" (click)="Volver()">VOLVER</button>
    </div>
</div>