<div id="MostrarLista">
    <table class="table">
        <tbody >
            <tr>
                <th class="table-warning">Correo</th>
                <th class="table-warning" colspan="2">Especialidades</th>
            </tr>
            <tr *ngFor="let profesional of this.profesionales">
                <th class="table-warning">{{profesional.correo}}</th>
                <th class="table-warning">{{profesional.especialidades}}</th>
                <th class="table-warning"><button type="button" class="btn btn-outline-dark" (click)="Especialidad(profesional)">Agregar Especialidad</button></th>
            </tr>
            <tr class="table-warning">
              <th colspan="3"><button type="button" class="btn btn-outline-dark" (click)="Volver()">Volver</button></th>
            </tr>
        </tbody>
    </table>    
</div>
<div id="agregarEspecialidad">
    <table class="table" id="tabla-Especialidad">
        <tbody >
            <tr>
                <th class="table-warning">Correo</th>
                <th class="table-warning" colspan="2">Especialidades</th>
            </tr>
            <tr>
                <th class="table-warning">{{correo}}</th>
                <th colspan="2" class="table-warning"><p>{{especialidad}}</p></th>
            </tr>
            <tr>
                <th class="table-warning"><input type="text" placeholder="Ingrese especialidad" [(ngModel)]="especial"></th>
                <th class="table-warning"><button  type="button" class="btn btn-outline-dark" (click)="AgregarEspecialidad()">Agregar</button></th>
            </tr>
            <tr>
                <th colspan="2" class="table-warning"><button  type="button" class="btn btn-outline-dark" (click)="ConfirmarEspecialidad()">Confirmar</button></th>
            </tr>
        </tbody>
    </table>    
</div>