<table class="table">
    <tr>
        <th colspan="3" class="table-success"><input class="btn btn-outline-dark" type="text" placeholder="Ingrese Correo" [(ngModel)]='correo'></th>
    </tr>
    <tr>
        <th colspan="3" class="table-danger"><input class="btn btn-outline-dark" type="password" placeholder="Ingrese Contraseña" [(ngModel)]='clave'></th>
    </tr>
    <tr>
        <th class="table-secondary"><button class="btn btn-outline-dark" (click)="Registrar()">Registrar</button></th>
        <th class="table-warning"><button class="btn btn-outline-dark" (click)="Volver()">Volver</button></th>
    </tr>
</table>